<div class="cal">
  <p id="notice"><%= notice %></p>
  <h1>Availability Studio</h1>
  <p>
    2 nights minimum stay
  </p>
  <%= month_calendar events: @bookings do | date, bookings| %>
    <%= date.day %>

    <% bookings.each do |booking| %>
      <div>
        <%= booking.name %>
      </div>
    <% end %>
  <% end %>
<p>
  Send a bookingrequest to Margaretha via eMail:
  <div><a href="mailto:greet.bekkers@icloud.com?subject=Booking Request Amstel river Studio&body=Dear Margeretha,%0D%0AI would like to make a booking request for your studio from DATE to DATE.%0D%0A%0D%0ABest regards,%0D%0A" class="mybutton logo">Booking Request</a></div>
</p>
</div>


<% if user_signed_in? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>From:</th>
        <th>To:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.name %></td>
          <td><%= booking.start_time.strftime("%m-%d-%Y") %></td>
          <td><%= booking.end_time.strftime("%m-%d-%Y") %></td>
          <td><%= link_to 'Show', booking %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Booking', new_booking_path %>
<% end %>

