<div class="home">
  <div class="wrapper">
    <div class="fig6">
      <%= image_tag "arys-open-haard-veraf.jpg", class: "figure-img" %>
    </div>
    <div class="fig4">
      <%= image_tag "arus-view-garden-summer.jpg", class: "figure-img" %>
    </div>
    <div class="fig1">
      <div class="tekst">
        Amstel River Studio is a very nice studio on the Amstel river, 5 km from Amsterdam center. The appartment has one bedroom, a beautifull hammam style bathroom, a kitchen/livingroom with a big fireplace and a Viking stove. The appartment exits on a big garden with lounge area and you are welcome to bring your dog. On walking distance there are several restaurants in the beautifull village "Oudekerk aan de Amstel", the statue of Rembrandt van Rijn, a beautifull windmill, a Cheese farm and more... It is also possible to rent the boat (with captain) to go downtown Amsterdam:


        <%= link_to "Boat_info", boat_path, class: "mybutton logo" %>
      </div>

            <div class="tekst">
              We will be very pleased to have you as our guests:
        <%= link_to "Booking_info", bookings_path, class: "mybutton logo" %>
      </div>
    </div>
    <div class="fig4">
      <%= image_tag "arus-gootsteen-detail.jpg", class: "figure-img" %>
    </div>
    <div class="fig6">
      <%= image_tag "arus-keuken-3.jpg", class: "figure-img" %>
    </div>
    <div class="fig5">
      <%= image_tag "arus-bathroom-1.jpg", class: "figure-img" %>
    </div>
    <div class="fig9">
      <p class="tekst">
        TEKST <br>
        Extras: <br>
        WiFi <br>
        Cable TV <br>
        Free Parking on the premises
      </p>
    </div>
    <div class="fig7">
      <%= image_tag "arus-shower.jpg", class: "figure-img" %>
    </div>
    <div class="fig10">
      <%= image_tag "arus-bedroom-bed-3.jpg", class: "figure-img" %>
    </div>
  </div>
</div>
