<div class="home">
  <div class="wrapper">
    <div class="fig1">
      <%= image_tag "arus-boot-1.jpg", class: "figure-img" %>
    </div>
    <div class="fig1">
      <div class="tekst">
        TEXT BOAT
      </div>
    </div>
    <div class="fig4">
      <%= image_tag "boat-11.jpg", class: "figure-img" %>
    </div>
    <div class="fig4">
      <%= image_tag "boat-14.jpg", class: "figure-img" %>
    </div>
    <div class="fig4">
      <%= image_tag "boat-13.jpg", class: "figure-img" %>
    </div>
    <div class="fig4">
      <%= image_tag "boat-17.jpg", class: "figure-img" %>
    </div>
    <div class="fig9">
      <p class="tekst">
        TEKST <br>
        BOAT <br>
      </p>
    </div>
    <div class="fig5">
      <%= image_tag "boat-15.jpg", class: "figure-img" %>
    </div>
  </div>
</div>
